<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% if page.title %}
      {{ page.title }}
      {% else %}
      {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4084568-10']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
      'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <div class="sidebar">
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <p class="byline">Software Engineer, <a href="http://www.indeed.com">Indeed.com</a></p>
      <ul class="navigation">
        <li><a class="extra" href="/talks">talks</a></li>
        <li><a class="extra" href="/about">about</a></li>
        <li><a class="extra" href="/archive">archive</a></li>
      </ul>
      <ul class="contact">
        <li>Github: <a href="https://github.com/dtulig">github.com/dtulig</a></li>
        <li>Twitter: <a href="https://twitter.com/dtulig">twitter.com/dtulig</a></li>
      </ul>
    </div>
    <divf class="site">
      {{ content }}
    </div>
  </body>
</html>
